body {
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  width: 200px;
  float: left;
  background-color: black;
  color: white;
  padding: 10px;
  transition: all 0.5s ease;
  height: 100vh; /* Sidebar akan memenuhi tinggi viewport */
  position: fixed; /* Tetap di posisi kiri layar */
  top: 0; /* Mulai dari atas */
  left: 0; /* Posisi kiri */
  opacity: 90%;
}
.main {
  margin-top: 40px;
  margin-left: 220px;
  padding: 10px;
  background-color: white;
  transition: all 0.5s ease;
}

/* Text style inside .main */
.main p {
  color: #333;
}

a {
  color: white;
  text-decoration: none;
}
li {
  margin: 10px;
}
.sidebar:hover {
  background-color: #2e2d2d;
}
.sidebar h1 {
  margin: 10px;
}

.act {
  opacity: 0.5;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  margin-left: 220px;
  background-color: #000000; /* Button color */
  color: white; /* Text color */
  padding: 10px 16px; /* Padding */
  font-size: 24px; /* Font size for menu button */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  border-radius: 10px;
}

.dropdown-content {
  margin-left: 220px;
  margin-top: 7px;
  visibility: hidden; /* Tersembunyi */
  opacity: 0;
  position: absolute;
  background-color: #1e1d1d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;

  /* Animasi untuk opacity dan transform */
  transform: translateY(-20px);
  transition: all 0.2s ease, transform 0.5s ease;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px; /* tetap posisi di atas konten dropdown */
  left: calc(
    50% - 53px
  ); /* geser 29px (20px + 9px) ke kiri dari posisi tengah */
  transform: translateX(-50%); /* untuk meratakan posisi segitiga */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1e1d1d; /* warna segitiga sesuai dengan background dropdown */
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #191818;
  border-radius: 10px;
}
.dropdown-content .hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

/* Saat dropdown di-hover */
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1; /* Opacity untuk efek fade-in */
  transform: translateY(0); /* Kembali ke posisi awal */
  transition: all 0.5s ease;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
.intro {
  margin-right: 15px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
